# clueless --- Characterises vaLUEs Leaking as addrESSes
# Copyright (C) 2023  Xiaoyue Chen
#
# This file is part of clueless.
#
# clueless is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# clueless is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with clueless.  If not, see <http://www.gnu.org/licenses/>.

obj-intel64
compile_commands.json
.gdb_history
.cache/**
.ccls-cache/**
*~
*.log
*.out
*.d
*.o
